.myLanding{
  padding-top: 6rem;
  padding-bottom: 0rem;
}


em{
  /* background-color: #f6c23e; */
  font-weight: bold;
  /* font-weight: bold; */
  color:#000000;
  /* color: #FFFFFF; */
}

.answer_span{
  background-color: rgba(246, 194, 62, 0.4);
}

.context_entities{
  color: #000000;
  text-decoration: underline;
}

.covid_entity{
  color: #e74a3b;
}

.query_entities{
  color: #1cc88a;
}

.my_nav_item a{
  color: rgba(0, 0, 0, 0.7) !important;
}

.legends{
  padding: 0 1.2rem 0 0.7rem;
  border-radius: 2px;
  font-style: italic;
  overflow: hidden;
}

.legend_denspi{
  border-left: 2px solid #4e73df;
}

.legend_related{
  border-left: 2px solid #e74a3b;
}

.card-body{
  padding: 0.7rem;
  line-height: 1.3rem;
}

.publish_time_div{
  margin-top: auto;
}

.publish_time_div span{
  font-weight: bold;
  color: #000000;
}

.item_journal_span{
  font-style: italic;
}

.best_entities{
  font-weight: bold;
  color:#000000;
}
